#betaWarning.navbar-fixed-bottom.no-mobile(onclick="toggleHide(this)")
    h1.fa.fa-times.fa-pull-right
    br
    //TODO Replace Later
    h3.text-center This is just a mockup for implementing design ideas and might be very messy. :)