main.bg-light
    .container-fluid
        .searchContainer.text-center
            //v-on:submit.prevent
            form(method='get', action='/index' v-on:submit)
                ////v-on:submit.prevent
                input#searchBar.bar-search.input-lg(type='text', v-model="searchTerm" title='search', name='q', size='', maxlength='120')
                //value='{{searchTerm}}'
                button.btn-lg.fa.fa-search.btn-search(type="" v-on:click="search")
        .contentHeader
            .navbar-header
                span
                    strong Question {{results.QuestionNumber}}
            .search-results.pull-left.no-mobile.no-tablet
        .contentContainer.text-left
            .test-ad
                //ToDo Placeholders
                .col-sm-12.wide-only
                    img(src="https://storage.googleapis.com/support-kms-prod/SNP_59D432450939ECC60A21BEDBEE985B1817B1_3094744_en_v2")
                .col-sm-offset-2.col-sm-6.desktop-only
                    img(src="https://storage.googleapis.com/support-kms-prod/SNP_4FF3B90F1F322E328CE191157454F07699AB_2922296_en_v3")
                .col-sm-12.wire.no-desktop.no-wide
                    span iPhone Ad
            .result(v-if="result===true")
                .row(v-if="codeAnswer===true")
                    span This answer refers to preliminary material of {{results.ExamPaperSeason}} {{results.ExamPaperYear}}
                    //TODO Hyperlink to Prelim
                //TODO PAPER PDF HREF
                // TODO VUE STRING ON THE END OF ABOVE
                .row
                    span Return to Question
                    .panel.panel-default
                        .panel-heading Question {{results.QuestionNo}} - Examiner Note
                        .panel-body
                                h5 {{results.ExaminerNote}}

                        .panel-footer.text-muted.text-right
                            span
            .result(v-else)
                .row.text-center
                    h1 Note does not exist
#betaWarning.navbar-fixed-bottom.no-mobile(onclick="toggleHide(this)")
    h1.fa.fa-times.fa-pull-right
    br
    //TODO Remove Later
    h3.text-center This application is in very early alpha, and therefore some functionality may not yet have been implemented.
