footer.text-light.no-mobile
    .container-fluid
        .row.footer-above
            .col-xs-4
                span.center-block  Home
                span.center-block  Random
            .col-xs-4
                span.center-block About
                span.center-block Contact
            .col-xs-4
                span.center-block Sign Up
                span.center-block Log In
        .row.footer-below
            .col-xs-6
                span.center-block
                    i.fa.border-circle.fa-twitter
                    span &nbsp;
                    i.fa.border-circle.fa-facebook-square
                    //&nbsp;
                    span &nbsp;
                    i.fa.border-circle &nbsp;a&nbsp;
            .col-xs-6.col-xs-offset-3.col-copyright
                span  Copyright Lawrence Newport & Co © 2016