footer.text-light
    .container-fluid
        .row.footer-above.no-mobile
            hr(style="width:75%;")
            .col-xs-3.col-xs-offset-1.sm-logos
                span.center-block
                    // Doesn't work of course
                    i.fa.fa-fw.fa-border.circle.fa-twitter
                    i.fa.fa-fw.fa-border.circle.fa-facebook-square
                    i.fa.fa-fw.fa-border.circle &nbspa&nbsp;
            .col-xs-4
                span.center-block
                    a(href="/") Home
                span.center-block
                    a(href="/about") About
                span.center-block
                    a(href="/contact") Contact
            .col-xs-4
                span.center-block
                    a(href="/legal") Legal
                span.center-block
                    a(href="/term") Terms of Use
                span.center-block
                    a(href="/privacy") Privacy Policy
        .row.footer-below
            .col-xs-6

            .col-xs-6.col-xs-offset-3.col-copyright
                span  Copyright Lawrence Newport & Co © 2016
