footer.text-light
    .container-fluid
        .row.footer-above.no-mobile
            hr(style="width:75%;")
            .col-xs-4.sm-logos
                 span.center-block
                    i.fa.border-circle.fa-twitter
                    span &nbsp;
                    i.fa.border-circle.fa-facebook-square
                    //&nbsp;
                    span &nbsp;
                    i.fa.border-circle &nbsp;a&nbsp;
            .col-xs-4
                span.center-block About
                span.center-block Home
                span.center-block Random
            .col-xs-4
                span.center-block Contact
                span.center-block Log In
                span.center-block Sign Up
        .row.footer-below
            .col-xs-6

            .col-xs-6.col-xs-offset-3.col-copyright
                span  Copyright Lawrence Newport & Co © 2016