#hamburger.dropup.mobile-only
            a.navbar-brand.pull-left(data-toggle="dropdown")
                #icon
                    span
                    span
                    span
                    span
            .dropdown-menu
                ul.nav
                    li
                        a.active(href='/') Home
                    li.divider
                    li
                        a(href='/') Random
                    li.divider
                    li
                        a(href='/') About
                    li.divider
                        a(href='/') Contact
                    li
                        a(href='/user') Log In
                    li.divider
                    li
                        a(href='/') Sign Up

