#mobile-menu.mobile-only.hide
    .menu
        ul.nav.navbar-nav
            li
                a.active(href='/') Home
            li.divider
            li
                a(href='/search') Search
            li.divider
            li
                //todo
                a(href='/statement?id=someshit') Random
            li.divider
            li
                a(href='/about') About
            li.divider
            li
                a(href='/contact') Contact
            li.divider
            li
                a(href='/') Sign Up &nbsp;
            li.divider
            li
                a(href='/user') Log In &nbsp;

.menu-circle.left.mobile-only
    a.navbar-brand()
        #icon
            span
            span
            span
            span
.menu-circle.right.mobile-only
    a.navbar-brand(href="#body-top")
        #arrow
            span
            span
