main
    .container-fluid
        .content-container
            .top-margin
                .col-sm-12.content-box.box-position
            .center-row
                .col-sm-5.content-half.box-position
                .col-sm-2.center-col
                    .col-xs-4.box-position.box-edge
                    .col-xs-4
                    .col-xs-4.box-position.box-edge
                .col-sm-5.content-half.box-position
            .bottom-margin
                .col-sm-12.content-box.box-position
