nav.navbar-fixed-top
    .container-fluid
        // Header
        .navbar-header
            a.no-tablet.no-mobile.navbar-brand.pull-left(href='#')
                span.no-tablet.no-mobile Bayes History
        .collapse.navbar-collapse.no-mobile.no-tablet
            ul.nav.navbar-nav
                li
                    a.active(href='/') Home
                li
                    a(href='/') Random
                li
                    a(href='/') About
                li
                    a(href='/') Contact
            ul.nav.navbar-nav.navbar-right.nav-list
                li
                    a(href='/') Sign Up &nbsp;
                li
                    a(href='/user') Log In &nbsp;


//TODO
//MAKE HAMBURGER DRAGGABLE ANYWHERE ON SCREEN