main
    .container-fluid
        .content-container
            .top-margin
                // TODO REMOVE HARDCODED VALUES
                .col-sm-12.content-box.box-position
                    h1.text-center Was Charles I's trial a show trial?
                    .col-sm-12
                        button.btn-show.btn-lg.btn-facebook(onClick="toggleHide('#consensus')") Show Rating
                    .col-sm-12
                        h1#consensus.text-center.hide 25%

            .center-row
                .col-sm-5.content-half.box-position
                    h1.text-center  Cons
                .col-sm-2.center-col
                    .col-xs-4.box-position.box-edge
                    .col-xs-4
                    .col-xs-4.box-position.box-edge
                .col-sm-5.content-half.box-position
                    h1.text-center Pros
                     .col-sm-5.content-half.box-position
            .bottom-margin
                .col-sm-12.content-box.box-position.text-center
                    h1 Graphing Goes Here
                    h1 Maybe More Sections or Tabs for different views / analysis
