main
    .container-fluid
        .content-container
            h1.text-center Session Data
                .panel.panel-default
                    .panel-heading.text-center Session ID: #{session}
                    .panel-body.text-center
                        #{session}
                    .panel-footer.text-right