doctype html
html(lang="en-GB" id="index")
    head
        include includes/framework
        include includes/head
        //ToDo Find CC Header Image
        //ToDo LOGIN, Basket,

    body#page-top
        #wrapper
            include includes/nav
            include includes/title
            include includes/main
            include includes/footer
            include includes/js