doctype html
html(lang="en-GB" id="index")
    head
        include includes/head
    body#page-top
        aside
        #wrapper
            include includes/nav
        include includes/js
        include includes/hamburger
        include includes/betawarning