doctype html
html(lang="en-GB" id="index")
    head
        include includes/head

    body#page-top
        #wrapper
            include includes/nav
            include includes/title
            include includes/statementmain
        include includes/footer
        script
            function toggleHide()

        include includes/js
        include includes/hamburger
        include includes/betawarning
