doctype html
html(lang="en-GB" id="index")
    head
        include includes/head

    body#page-top
        #wrapper
            include includes/nav
            include includes/title
            include includes/user
            include includes/footer
            include includes/js
        include includes/hamburger